{% extends "admin/base_site.html" %}
{% load adminmedia admin_list %}

{% block extrahead %}
{% endblock %}
{% block coltype %}flex{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block extrastyle %}
{{block.super}}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">Home</a> &rsaquo; <a href="../external_links/">External_Links</a> &rsaquo; Top links{% endblock %}
{% block content %}
<div id="content-main">
<table cellspacing="0">
<thead>
<tr><th>Link</th><th>Count</th></tr>
</thead>
<tbody>

{% for link in object_list %}
<tr class="row{%cycle 1,2%}"><th><a
href="../external_links/linkclick/?q={{link.link}}" title="View click
details for &quot;{{link.link}}&quot;">{{link.link}}</a></th><td>{{link.link__count}}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% if pagination_required %}
{# how to paginate a valuesqueryset?? #}
<p class="paginator">
</p>
{% endif %}
{% endblock %}

